apiVersion: v1
kind: Service
metadata:
  name: wordpress-svc
  namespace: wordpress-project
spec:
  type: NodePort
  selector:
    app: wordpress
  ports:
    - port: 80
      targetPort: 80